@import "../../variables";

.player {
  margin: 30px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  background-color: $primary-text;
  color: $primary-text;

  &__name {
    padding: 6px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    background-color: $primary-dark;
  }

  &__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: $primary;
  }
}
