@import "../../variables";

.player {
  margin: 30px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: $primary-text;
  color: $primary-text;

  &__name {
    padding: 4px;
    font-size: large;
    font-weight: 500;
    background-color: $primary-dark;
  }

  &__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: $primary;
  }
}
